{% extends 'opal.html' %}

{% load plugins %}
{% load dashboards %}

{% block ngapp %}opal.dashboard{% endblock %}
{% block angularapp %}
  {% plugin_javascripts 'opal.dashboard' %}
{% endblock %}

{% block content %}
<div class="container-fluid content-offset">
  <div class="panel panel-primary">
    <!-- Default panel contents -->
    <div class="panel-heading">
      <h2>
        <i class="fa fa-dashboard"></i>
        {{ dashboard.name }}
      </h2>
    </div>

    <div class="panel-body">
      <div class="row">
        <div class="col-md-12">
          <p class="lead">
            <b>
              {{ dashboard.description }}
            </b>
          </p>
        </div>

      </div>
      <div class="row">
        {% for widget in dashboard.get_widgets %}
          {% dashboard_widget widget %}
        {% endfor %}
      </div>
    </div>
  </div>
{% endblock %}

{% block loading %}{% endblock %}
